.body {
	background-color : #DCDCDC;
}
.bigbox {
	top: 10px;
	left: 10px;
	width: 99%;
	background-color: #778899;
	padding: 5px 5px 3px 5px;
	border: thin none Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.title1 {
	background-color: #778899;
	font-family: 	Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	display: inline;
	margin-right: 2px;
}

.title2 {
	background-color: #778899;
	font-family: 	Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	display: inline;
	margin-right: 2px;
}


.smalltext {
	background-color: #778899;
	font-family: 	Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.tables {
	border-collapse: collapse;
	padding: 1px 1px 1px 1px;
	border: 1px;
}

A
{
	font-size: 12px;
	TEXT-DECORATION: none
}
A:hover
{
	COLOR: white;
	background-color : Black;
}


/* Table tags. */
.table {
	border-collapse: collapse;
	width: 100%;
	padding: 1px 1px 1px 1px;
}

img {
	border: 0px;
}

.even {
	background: #E5E5E5;
	color: Black;
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
}


.odd {
	background: #CECECE;
	color: Black;
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
}


.foot {
	background: #7C7C7C;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
}
